#tpaises{
  grid-column: 2/8;
  grid-row: 3/4; 
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content:center ;
}

a{
  text-decoration: none;
  background: none;
  color: rgba(47, 192, 228, 0.952);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
#japon{
    background-image: url('./Japon.jpg');
    grid-column: 2/5;
    grid-row: 4/6;
    border-radius: 15px;
    margin: 3%;
    background-size: cover;

}
#japont{
    grid-column: 5/8;
    grid-row: 4/6;
    text-align: end; 
  display: flex;
  flex-direction: column;
  justify-content:center ;

}

#egipto{
    background-image: url('./Egipto.jpg');
    grid-column: 5/8;
    grid-row: 6/8;
    border-radius: 15px;
    margin: 3%;
    background-size: cover;

}
#egiptot{
    grid-column: 2/5;
    grid-row: 6/8;
    text-align:start; 
  display: flex;
  flex-direction: column;
  justify-content:center ;

}


#canada{
    background-image: url('./Canada.jpg');
    grid-column: 2/5;
    grid-row: 8/10;
    border-radius: 15px;
    margin: 3%;
    background-size: cover;

}
#canadat{
    grid-column: 5/8;
    grid-row: 8/10;
    text-align: end; 
  display: flex;
  flex-direction: column;
  justify-content:end ;

}